# Ignore any files or directories any level, including the context root,
# named migrations

README.md*
changelog.txt*
docker-compose.*


# clean build
**/migrations

# no compiled python
**/__pycache__

examples

documentation

docker-image

lib-src
