*.swp
*.swo
*.pyc
*.pyo
.installed.cfg
.settings
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
build
.tmp_*
.project
.pydevproject
.DS_Store
.idea
upload
/media/frameworks/ace/
/praktomat-virtualenv
/src/settings_local.py.old
